<div  class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                ></i><a routerLink="/index"><img src="assets/img/logo/logo.png" alt=""></a>
              </div>
        <div class="list-group list-group-flush my-3">
            <a routerLink="/homeDashboard" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
              class="fa fa-image  me-2"></i>Liste of Posts</a>

              <a routerLink="/addpost" routerLinkActive="active-link" class="list-group-item list-group-item-action bg-transparent second-text">
                <i class="fas fa-tachometer-alt me-2"></i>Add Post
            </a>
            
            
            <a routerLink="/Usersliste" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-user me-2"></i>Users list</a>
  
            <a routerLink="/contactliste" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-comment-dots me-2"></i>Chat list</a>
   
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                <h2 class="fs-2 m-0">Dashboard</h2>
            </div>
         
              
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
  
        </nav>
        
        <div class="container-fluid px-4">
            <section class="text-center">
                <!-- Background image -->
                <div class="p-5 bg-image" style="height: 150px;"></div>
                <!-- Background image -->
        
                <div class="card mx-4 mx-md-5 shadow-5-strong" style="margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px);">
                
                    <div class="card-body py-5 px-md-5">
                        <h3 class="fs-4 mb-3">Add Post</h3>
                        <div class="row mt-1">
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="form3Example1">Post title</label>
                                            <input type="text" class="form-control" id="title" [(ngModel)]="newArticle.titre">
                                        </div>
                                    </div>
        
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="form3Example2">Post description</label>
                                            <input type="text" class="form-control" id="content" [(ngModel)]="newArticle.contenu">
                                        </div>
                                    </div>
        
                            
        
                                    <!-- categorie input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="categorie">Post category</label>
                                        <select class="form-control custom-select" id="category" [(ngModel)]="newArticle.categorie">
                                            <option value="Economic">Economic</option>
                                            <option value="Politics">Politics</option>
                                            <option value="Technology">Technology</option>
                                            <option value="Sports">Sports</option>
                                            <option value="Scientists">Scientists</option>
                                        </select>
                                    </div>
        
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example2">Post Image</label>
                                        <input type="file" class="form-control" id="image" (change)="onFileSelected($event)">
                                    </div>
        
                                    <button type="submit" class="registration" (click)="addNewArticle()">
                                        <span>Add Post</span>
                                    </button>
                                    
                                    <div *ngIf="successMessage" class="alert alert-success" role="alert">
                                        <i class="fas fa-check-circle"></i>
                                        {{ successMessage }}
                                  </div>

                                  <div *ngIf="errorMessage" class="alert alert-warning" role="alert">
                                    <i class="fas fa-check-circle"></i>
                                    {{ errorMessage }}
                              </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        
        
    
    </div>
</div>
