<div  class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                ></i><a routerLink="/index"><img src="assets/img/logo/logo.png" alt=""></a>
              </div>
        <div class="list-group list-group-flush my-3">
            <a routerLink="/homeDashboard" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
              class="fa fa-image  me-2"></i>Liste of Posts</a>

            <a routerLink="/addpost" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                class="fas fa-tachometer-alt me-2"></i>Add Post</a>
            
            <a routerLink="/Usersliste" routerLinkActive="active-link" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-user me-2"></i>Users list</a>
  
            <a routerLink="/contactliste"  routerLinkActive="active-link" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-comment-dots me-2"></i>Chat list</a>
            
           
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                <h2 class="fs-2 m-0">Dashboard</h2>
            </div>
  
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
  
            
        </nav>
        

        
        <div class="container-fluid px-4">
            <div class="row g-3 my-2">
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2"></h3>
                            <h3 class="fs-2">3899</h3>
                            <p class="fs-5">Users</p>
                        </div>
                        <i class="fas fa-user-circle fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
  
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">4920</h3>
                            <p class="fs-5">Messages</p>
                        </div>

                        <i class="fas fa-comment-dots fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
  
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">3899</h3>
                            <p class="fs-5">Artilces</p>
                        </div>
                        <i class="fas fa-image fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
  
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2"></h3>
                            <h3 class="fs-2">3899</h3>
                            <p class="fs-5">Increase</p>
                        </div>
                        <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>

                <div class="col-md-12">
                  <div class="p-5 bg-image" style="height: 150px;"></div>
                  <div class="card shadow-5-strong" style="margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px);">
                      <div class="card-body py-5 px-md-5">
                          <h2 class="fs-4 mb-3">Users List</h2>
                          <div class="table-responsive"  *ngIf="users.length > 0" >
                              <table class="table table-hover">
                                  <thead class="bg-light">
                                      <tr>  
                                        <th>Email</th>
                                        <th>Username</th>
                                        <th>Mobile</th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let user of users">
                                         
                                          <td>
                                              <p class="fw-normal mb-1"> {{ user.email  }}</p>
                                          </td>
                                          <td>
                                              <p class="fw-normal mb-1">{{ user.username  }}</p>
                                          </td>
                                          <td>
                                              <p class="fw-normal mb-1">{{ user.mobile }}</p>
                                          </td>
                                         
                                        
                                         
                                        
                                        
                                          
                                          <td>
                                            
                                            <!-- <button class="action-btn delete-btn" >
                                                <i class="fas fa-trash"
                                                
                                                ></i>
                                            </button> -->
                                        </td>
                                        
                                        
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
              
            </div>
  
            
            
        </div>
  </div>
