.btn {
    border-radius: 24px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 17px;
	padding: 20px 22px;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px; 
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    text-transform: lowercase;
}



/* Adjust button spacing on smaller screens */
@media (max-width: 767px) {
    .action {
        margin-right: 0; /* Remove right margin on smaller screens */
        margin-bottom: 10px; /* Add bottom margin to separate buttons vertically */
        display: block; /* Display buttons as block elements on smaller screens */
    }
}


.header-area {
    position: fixed;
    top: auto;
    left: auto;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
}

.main-content {
    padding-top: 80px; /* Adjust this value to match the height of your fixed header */
}


/* Styling for the pulsating circle */
.live-circle {
    position: relative;
    display: inline-block;
    font-size: 14px; /* Adjust font size as needed */
    color: rgb(255, 255, 255); /* Adjust color as needed */
    animation: pulse 1s infinite alternate;
    margin-right: -8px;
    margin-left: 10px;
    text-decoration: none;
}

/* Animation keyframes for the pulse effect */
@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.15);
    }
}


  
 
  

.search-bar {
    position: relative;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #242424;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.search-bar button[type="submit"] {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.search-bar button[type="submit"] i {
    color: #000000;
}
