@media (max-width: 767px) {
    .action {
        margin-right: 0; /* Remove right margin on smaller screens */
        margin-bottom: 10px; /* Add bottom margin to separate buttons vertically */
        display: block; /* Display buttons as block elements on smaller screens */
    }
}

.register{
    border: 1px solid #ffffff;
    margin-left: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #ffffff;;
    padding:auto;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    height: 32px;
    background-color: black;
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif;
}

.Live{
    text-decoration: none;
    margin-left: 10px;
    box-sizing: border-box;
    color: #e6e6e6;
    font-size: 18px;
    line-height: 20px;
    height: 32px;
    background-color: black;
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif;
}

.register:hover {

    background-color: rgb(58, 58, 58);

   
}

.Live:hover {

    color: #ffffff;;
    line-height: 21px;
    height: 34px;
   
}
.header-area {
    position: fixed;
    top: auto;
    left: auto;
    width: 100%;
    z-index: 1000; 
}

.main-content {
    padding-top: 80px; 
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.15);
    }
}

.search-bar {
    position: relative;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #242424;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.search-bar button[type="submit"] {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.search-bar button[type="submit"] i {
    color: #000000;
}

.header-bottom header-sticky{
    background-color: #ffffff;
}


.user-button {
    background-color: black;
    color: #e6e6e6;
    border: none;
    padding: 5px;
    margin-left: 8px;
    font-size: 21px;
    height: auto;
}

.user-button:hover {
    color: white;
}


