<main>
    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>About Us</h4>
                        <p>When I launched my website from my hometown, Tunis, on Friday, February 1, 2024, it marked a significant milestone in my journey as a student at ITBS. Inspired by my passion for keeping people informed and engaged with the latest news, my website represents a new era in web-based journalism.


                            </p>
                        <p> As an independent news platform, my website breaks away from the traditional narratives often controlled by larger entities, allowing users the freedom to access and contribute to a diverse range of stories. Just like Al Jazeera revolutionized the media landscape in the Arab world, my website aims to provide a fresh perspective on both local and global events, placing the individual at the forefront of our news coverage.</p>
                    </div>
                    <div class="about-details-cap mb-50">
                        <p>With a commitment to presenting multiple viewpoints and championing the voices of our audience, my website's motto, "Your Opinion Matters", reflects our dedication to fostering a community-driven approach to news reporting while upholding the highest standards of journalistic integrity.
                            </p>
                        <p> Despite facing challenges along the way, including navigating through the complexities of digital media and overcoming resistance to change, my website remains steadfast in its mission to deliver accurate and unbiased news to its readership.</p>
                    </div>

                    <div class="about-details-cap mb-50">
                        <p>As I continue to grow and expand my website's offerings, I remain committed to upholding the core principles of journalistic excellence and ensuring that my audience remains at the heart of everything I do.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
  
</main>

<div class="search-model-box">
    <div class="d-flex align-items-center h-100 justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>
