


<section class="contact-section">
    <div class="container">    
    
        <div class="row">
            <div class="col-lg-8">
                <div class="cont">
                    <h4>Recent news</h4>
                    <div class="row">
                        <div class="col-lg-6 mt-5">
                            <img src="assets/img/gallery/whats_news_details1.png" alt="">
                            <h5>Secretary for Economic Airplane that looks like</h5>
                            <span>by Alice cloe - Jun 19, 2020</span>
                            <p>Struggling to sell one multi-million dollar home currently on the market won’t stop actress and singer Jennifer Lopez.</p>
                        </div>
                        <div class="col-lg-3 mt-5">
                        <div class="row ">
                            <div class="col-lg-6 mt-5">
                                <div class="whats-right-img">
                                    <img src="assets/img/gallery/whats_right_img1.png" alt="">
                                </div>
                                </div>
                                <div class="whats-right-cap">
                                    <span class="colorb">FASHION</span>
                                    <h4><a href="latest_news.html">Portrait of group of friends ting eat. market in.</a></h4>
                                    <p>Jun 19, 2020</p> 
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
            

            <div class="col-lg-4">
                <div class="cont ">
                    <h4 >Recent news</h4>
                    <div class="row">
                        <div class="col-lg 2">
                            <span> <a href="#"><img src="assets/img/news/icon-fb.png" alt=""></a>
                            </span>
    
                        </div>
                        <div class="col-lg 2">
                            <span> <a href="#"><img src="assets/img/news/icon-fb.png" alt=""></a>
                            </span>
    
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg 2">
                            <span> <a href="#"><img src="assets/img/news/icon-fb.png" alt=""></a>
                            </span>
    
                        </div>
                        <div class="col-lg 2">
                            <span> <a href="#"><img src="assets/img/news/icon-fb.png" alt=""></a>
                            </span>
    
                        </div>
                    </div>


                </div>

                <div class="cont mt-15">
                    <h4 >Most Recent</h4>
                    <div class="row">
                        <img src="assets/img/gallery/most_recent.png" alt="">
                    </div>
                   <div class="row">
                    <div class="most-recent-single">
                        <div class="most-recent-images">
                            <img src="assets/img/gallery/most_recent1.png" alt="">
                        </div>
                        <div class="most-recent-capt">
                            <h4><a href="latest_news.html">Scarlett’s disappointment at latest accolade</a></h4>
                            <p>Jhon  |  2 hours ago</p>
                        </div>
                    </div>
                   </div>

                   <div class="row">
                    <div class="most-recent-single">
                        <div class="most-recent-images">
                            <img src="assets/img/gallery/most_recent1.png" alt="">
                        </div>
                        <div class="most-recent-capt">
                            <h4><a href="latest_news.html">Scarlett’s disappointment at latest accolade</a></h4>
                            <p>Jhon  |  2 hours ago</p>
                        </div>
                    </div>
                   </div>
                    
                </div>
            </div>
        </div>

        <div class="row mt-30">
            <div class="col-lg-3">
                <div class="cont">
                    <img src="assets/img/gallery/body_card2.png" alt="">

                </div>
            </div>

            <div class="col-lg-9">
                <div class="cont">
                    <div class="row">
                        <div class="col-lg">
                            <div class="weekly2-single">
                                <div class="weekly2-img">
                                    <img src="assets/img/gallery/weeklyNews1.png" alt="">
                                </div>
                                <div class="weekly2-caption">
                                    <h4><a href="#">Scarlett’s disappointment at latest accolade</a></h4>
                                    <p>Jhon  |  2 hours ago</p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-lg">
                            <div class="weekly2-single">
                                <div class="weekly2-img">
                                    <img src="assets/img/gallery/weeklyNews1.png" alt="">
                                </div>
                                <div class="weekly2-caption">
                                    <h4><a href="#">Scarlett’s disappointment at latest accolade</a></h4>
                                    <p>Jhon  |  2 hours ago</p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-lg">
                            <div class="weekly2-single">
                                <div class="weekly2-img">
                                    <img src="assets/img/gallery/weeklyNews1.png" alt="">
                                </div>
                                <div class="weekly2-caption">
                                    <h4><a href="#">Scarlett’s disappointment at latest accolade</a></h4>
                                    <p>Jhon  |  2 hours ago</p>
                                </div>
                            </div> 
                        </div>
                         <div class="col-lg">
                            <div class="weekly2-single">
                                <div class="weekly2-img">
                                    <img src="assets/img/gallery/weeklyNews1.png" alt="">
                                </div>
                                <div class="weekly2-caption">
                                    <h4><a href="#">Scarlett’s disappointment at latest accolade</a></h4>
                                    <p>Jhon  |  2 hours ago</p>
                                </div>
                            </div> 
                    </div>
                    <div class="col-lg">
                        <div class="weekly2-single">
                            <div class="weekly2-img">
                                <img src="assets/img/gallery/weeklyNews1.png" alt="">
                            </div>
                            <div class="weekly2-caption">
                                <h4><a href="#">Scarlett’s disappointment at latest accolade</a></h4>
                                <p>Jhon  |  2 hours ago</p>
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg">
                        <div class="weekly2-single">
                            <div class="weekly2-img">
                                <img src="assets/img/gallery/weeklyNews1.png" alt="">
                            </div>
                            <div class="weekly2-caption">
                                <h4><a href="#">Scarlett’s disappointment at latest accolade</a></h4>
                                <p>Jhon  |  2 hours ago</p>
                            </div>
                        </div> 
                    </div>
                    </div>

                </div>
            </div>

        </div>
</div>
</section>