
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF2143;
	background-color: #FF2143;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: none;
	border: 1px solid #6e6e6e;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	border-radius: 8px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    max-width: 870px;
    min-height: 600px;
	margin:50px auto;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;

}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF2143;
	background: -webkit-linear-gradient(to right, #FF2143, #FF2143);
	background: linear-gradient(to right, #FF2143, #FF2143);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel p {
    color: white;
}


.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.registration {
	width: 100%;
    padding: 16px 32px;
    border: 0;
    border-radius: 8px;
    background: #FF2143;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    cursor: pointer;
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif;
}

/* Align buttons horizontally */
.action {
    display: inline-block; /* Display buttons inline */
    margin-right: 10px; /* Add spacing between buttons */
}

/* Adjust button spacing on smaller screens */
@media (max-width: 767px) {
    .action {
        margin-right: 0; /* Remove right margin on smaller screens */
        margin-bottom: 10px; /* Add bottom margin to separate buttons vertically */
        display: block; /* Display buttons as block elements on smaller screens */
    }
}


.header-area {
    position: fixed;
    top: auto;
    left: auto;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
}

.main-content {
    padding-top: 80px; /* Adjust this value to match the height of your fixed header */
}



/* Animation keyframes for the pulse effect */
@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.15);
    }
}
 
.logo {
    width: 120px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin:  auto; /* Add margin between logo and sign-in form */
}

.error-message {
    font-size: 14px;
    line-height: 14px;
    color: #c00;
    display: block;
    margin-top: 5px; 
	margin-bottom: 5px; 
	font-weight: bold;
}

.error-input {
    border: 1px solid #c00;
}


.error-message.fade-in {
    animation: fadeIn 0.5s ease-out;
}


.input-group-append{
	background-color: none;
	border: none;

}

.input-group-append .fa {
	
    position: absolute;
    right: 60px; 
    top: 65%; 
    font-size: 20px;
	transform: translateY(-50%);
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}


/* Add animation to the Font Awesome spinner icon */
.fa-spinner {
    animation: spin 1s linear infinite; /* Apply spin animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Add this CSS for the spinner */
.spinner {
    position: relative;
    display: inline-block;
    margin-right: 10px; 
}





  