<main>              
    <section class="whats-news-area pt-50 pb-20 ">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="whats-news-wrapper">
                <!-- Heading & Nav Button -->
                <div class="row justify-content-between align-items-end mb-15">
                  <div class="col-xl-4">
                    <div class="section-tittle mb-30">
                      <h3>Recent News</h3>
                    </div>
                  </div>
                </div>
                <!-- Tab content -->
                <div class="row">
                  <div class="col-12">
                    <!-- Articles -->
                    <div class="tab-content" id="nav-tabContent">
                      <!-- Article List -->
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                          <!-- Display Paged Articles -->
                          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" *ngFor="let article of pagedCollection"  >
                            <div class="whats-news-single mb-20">
                              <div class="whates-img">
                                <img *ngIf="article.image" [src]="article.image" alt="img" (click)="OnArArticleSelected(article)">
                              </div>
                              <div class="whates-caption">
                                <h4>{{ article.titre }}</h4>
                                <div class="info-section">
                                  <span>{{ article.publish_date }}</span>
                                  <div class="like-comment-icons">
                                    <span class="like-icon" (click)="likeArticle(article.id)" [class.liked]="likedArticleId === article.id">
                                      <i class="fas fa-thumbs-up" [style.color]="likedArticleId === article.id ? '#FF2143' : ''"></i> {{ article.nb_likes }}
                                    </span>
                                    <span class="like-icon" (click)="dislikeArticle(article.id)" [class.disliked]="dislikedArticleId === article.id">
                                      <i class="fas fa-thumbs-down" [style.color]="dislikedArticleId === article.id ? '#313131' : ''"></i> {{ article.nb_dislikes }}
                                    </span>
                                    <span class="comment-icon">
                                      <i class="fas fa-comment" ></i> {{ article.nb_comments }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Pagination Controls -->
                        <div class="row">
                            <div class="col-12">
                              <div class="pagination-container">
                                <button class="pagination-btn" (click)="previousPage()" [disabled]="currentPage === 1">
                                  <i class="fas fa-chevron-left"></i>
                                </button>
                                <span class="pagination-info">Page {{ currentPage }} of {{ totalPages }}</span>
                                <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
                                  <i class="fas fa-chevron-right"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>      
    
    <!-- Start Video Area -->
    <div class="youtube-area video-padding d-none d-sm-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="video-items-active">
                        <div class="video-items text-center">
                            <video controls>
                                <source src="assets/video/news2.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="video-items text-center">
                            <video controls>
                                <source src="assets/video/news1.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="video-items text-center">
                            <video controls>
                                <source src="assets/video/news3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        
                     
                    </div>
                </div>
            </div>
           
        </div>
    </div> 
    <!-- End Start Video area-->
    <!--   Weekly3-News start -->
    <div class="weekly3-news-area pt-80 pb-130">
        <div class="container">
            <div class="weekly3-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-wrapper">
                            <!-- Slider -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="weekly3-news-active dot-style d-flex">
                                        <div class="weekly3-single">
                                            <div class="weekly3-img">
                                                <img src="assets/img/gallery/weekly2News1.png" alt="">
                                            </div>
                                            <div class="weekly3-caption">
                                                <h4><a href="latest_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                                                <p>19 Jan 2020</p>
                                            </div>
                                        </div> 
                                        <div class="weekly3-single">
                                            <div class="weekly3-img">
                                                <img src="assets/img/gallery/weekly2News2.png" alt="">
                                            </div>
                                            <div class="weekly3-caption">
                                                <h4><a href="latest_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                                                <p>19 Jan 2020</p>
                                            </div>
                                        </div> 
                                        <div class="weekly3-single">
                                            <div class="weekly3-img">
                                                <img src="assets/img/gallery/weekly2News3.png" alt="">
                                            </div>
                                            <div class="weekly3-caption">
                                                <h4><a href="latest_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                                                <p>19 Jan 2020</p>
                                            </div>
                                        </div>
                                        <div class="weekly3-single">
                                            <div class="weekly3-img">
                                                <img src="assets/img/gallery/weekly2News4.png" alt="">
                                            </div>
                                            <div class="weekly3-caption">
                                                <h4><a href="latest_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                                                <p>19 Jan 2020</p>
                                            </div>
                                        </div> 
                                        <div class="weekly3-single">
                                            <div class="weekly3-img">
                                                <img src="assets/img/gallery/weekly2News2.png" alt="">
                                            </div>
                                            <div class="weekly3-caption">
                                                <h4><a href="latest_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                                                <p>19 Jan 2020</p>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>           
  
   
</main>