<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <!-- Image profile section -->
        <div class="image-profile">
          <img *ngIf="userImage" [src]="userImage" alt="Profile Image">
          <label for="image-input" class="file-input-label">
            <i
              class="fas fa-camera "
              style="font-size: 24px; padding-right: 0.5rem"
            ></i
            >
          </label>
          <div class="update-image-container">
            <form enctype="multipart/form-data">
              <div class="file-input-wrapper">
                <input
                  type="file"
                  id="image-input"
                  name="image"
                  style="display: none"
                  (change)="onFileSelected($event)"
                />
              </div>
            </form>
          </div>
        </div>


        <a class="logout-link" routerLink="/index" (click)="onLogout()" type="submit">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
        <a class="logout-link" routerLink="/homeDashboard" type="submit" *ngIf="yesadmin">
          <i class="fas fa-chart-bar"></i> Dashboard
        </a>
      </div>
      
      
      <div class="col-lg-9">
        <div class="acccount-settings">
          <div class="user-details" *ngIf="userData">
            <h3 style="font-weight: bold;">PERSONAL INFORMATION</h3>
            <h5>
              At NNews we take your privacy very seriously and are committed to the protection of your personal data. Learn more about how we care for and use your data in our Privacy Policy.
            </h5>
            <h3 class="detail-item"><strong>YOUR EMAIL ADDRESS: </strong> {{ email }}</h3>
            <h3 class="detail-item"><strong>USERNAME:</strong> {{ username }}</h3>
           <h3 class="detail-item"><strong>PHONE NUMBER:</strong> {{ mobile }}</h3>
          </div>

          <div class="header-container">
            <h2 class="mb-4 pt-5">Modify Your Personal Information</h2>
          
            <button class="toggle-button" (click)="toggleForm('userInfoForm')" [ngClass]="{ 'active': showForm }">
              <span>Show Form</span>
              <i class="fas fa-chevron-down"></i>
            </button>
          </div>
          
          <form *ngIf="showForm" >
            <div class="form-group mb-4">
              <label>Email</label>
              <input [readonly]="true" type="text" class="form-control" name="email"  
              value={{email}}/>
            </div>
          
            <div class="form-group mb-4">
              <label>Username</label>
              <input type="text" autocomplete="off" class="form-control" name="username" [(ngModel)]="username"
              value={{username}}/>
            </div>
          
            <div class="form-group mb-4">
              <label>Mobile</label>
              <input autocomplete="off" type="text" class="form-control" name="mobile" [(ngModel)]="mobile" 
              value={{mobile}} />
            </div>

            <button type="submit" class="registration" (click)="updateUserData()">Save Changes</button><br />

          </form>
          
          <div class="header-container">
            <h2 class="mb-4 pt-5">Password Change</h2>
          
            <button class="toggle-button" (click)="toggleForm('passwordForm')" [ngClass]="{ 'active': showFormPassword }">
              <span>Show Form</span>
              <i class="fas fa-chevron-down"></i>
            </button>
          </div>

          <form *ngIf="showFormPassword">
              <!-- Current Password -->
              <div class="form-group mb-4">
                  <label for="password">Current Password</label>
                  <div class="input-group">
                      <input type="{{ hidePassword1 ? 'password' : 'text' }}" class="form-control" name="password" [(ngModel)]="password" />
                      <div class="input-group-append">
                          <span class="input-group-text toggle-password" (click)="togglePassword1()">
                              <i class="fa" [ngClass]="hidePassword1 ? 'fa-eye' : 'fa-eye-slash'"></i>
                          </span>
                      </div>
                  </div>
              </div>

              <button type="submit" class="registration" (click)="checkPasswords()">Valider</button>
              <span class="helper-text">To change your password, please fill in your current password</span>

              <div *ngIf="!valideCurentPassword && errorMessagepw" class="text-danger">{{ errorMessagepw }}</div>

            </form>
          
            <form *ngIf="valideCurentPassword">
              <div class="form-group mb-4">
              <label for="NewPassword">New Password</label>
              <div class="input-group">
                <input type="{{ hidePassword2 ? 'password' : 'text' }}" class="form-control" name="NewPassword" [(ngModel)]="NewPassword" />
                <div class="input-group-append">
                  <span class="input-group-text toggle-password" (click)="togglePassword2()">
                    <i class="fa" [ngClass]="hidePassword2 ? 'fa-eye' : 'fa-eye-slash'"></i>
                  </span>
                </div>
              </div>
              <div *ngIf="errorMessagepw" class="text-danger">{{ errorMessagepw }}</div>
            </div>
          
            <!-- Confirm Password -->
            <div class="form-group mb-4">
              <label for="confirmPassword">Confirm Password</label>
              <div class="input-group">
                <input type="{{ hidePassword3 ? 'password' : 'text' }}" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword" />
                <div class="input-group-append">
                  <span class="input-group-text toggle-password" (click)="togglePassword3()">
                    <i class="fa" [ngClass]="hidePassword3 ? 'fa-eye' : 'fa-eye-slash'"></i>
                  </span>
                </div>
              </div>
            </div>
          
          
            <button type="button" class="registration" (click)="updateUserPassword()" [disabled]="!passwordMatch">Save Changes</button>
            
           

            <div *ngIf="errorMessagepw" >
              <span class="notmatch">{{ errorMessagepw }}</span>
            </div>


            <div *ngIf="notValid">
              <span class="notmatch">Please check your new Password.</span>
            </div> 
 
            <div *ngIf="updateSuccess" class="text-success">Password updated successfully!</div>

          </form>
          
        </div>
      </div>
    </div>
  </div>
</section>
