/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #bbbbbb;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

/* Styling for the user dashboard */
.user-dashboard {
  padding: 50px;
}

.image-profile img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #a0a0a0;
}

.image-profile img:hover {
  border-color: #868686;
}

.user-dashboard .col-lg-3 {
  margin-bottom: 20px;
}

/* Styling for the form */
.user-dashboard form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.user-dashboard label {
  font-weight: bold;
  font-size: 1rem;
}

.user-dashboard input[type="text"],
.user-dashboard input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1rem;
}

.user-dashboard .file-input-label {
  margin-top: 10px;
  display: inline-block;
  padding: 8px 15px;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the form section */
.user-dashboard .col-lg-9 {
  display: flex;
  flex-direction: column;
}

.user-dashboard .acccount-settings {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

/* Style for the input group to keep elements on the same line */
.input-group {
  display: flex;
  align-items: center;
}

.toggle-password {
  cursor: pointer;
}

.logout-link {
  display: block;
  margin-top: 1rem;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.logout-link i {
  margin-right: 0.5rem;
}

.logout-link:hover {
  color: #555;
}

.registration {
  width: auto;
  padding: 16px 32px;
  border: 0;
  border-radius: 8px;
  background: #FF2143;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  cursor: pointer;
  font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
}

.user-details {
  margin-top: 20px;
  background-color: #faf8f8;
  padding: 20px;
}

.detail-item {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.detail-item:last-child {
  margin-bottom: 0;
}

.container {
  margin-top: 120px;
}

.image-profile {
  position: relative;
}

.image-profile .file-input-label {
  position: absolute;
  top: 70px;
  left: 41%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.image-profile .file-input-label i {
  font-size: 20px;
  margin-right: 0.5rem;
  color: #ffffff;
  background-color: #FF2143;
  border-radius: 50%;
  padding: 0.4rem;
  transition: background-color 0.3s;
}

.image-profile .file-input-label i:hover {
  background-color: rgb(196, 43, 66);
}

.header-container {
  display: flex;
  align-items: center;
}

.toggle-button {
  color: #000000;
  border: none;
  margin-top: 30px;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  padding: 1px 8px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.toggle-button span {
  margin-right: none;
}

.toggle-button i {
  margin-left: 3px;
}

/* Hover effect */
.toggle-button:hover {
  background-color: #FF2143;
  color: white;
  border: 1px solid #FF2143;
}

/* Active effect */
.toggle-button.active {
  background-color: #FF2143;
  color: white;
  border: 1px solid #FF2143;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .form-control {
  flex: 1; /* Take up remaining space */
  border: 1px solid #ced4da; /* Add border */
  border-radius: 5px; /* Add border radius */
  padding: 10px; /* Add padding */
  font-size: 1rem; /* Adjust font size */
}

.input-group-append {
  display: flex; /* Ensure child elements are aligned properly */
}

.input-group-append .input-group-text {
  background-color: transparent; /* Set background to transparent */
  border: none; /* Remove border */
  cursor: pointer;
}

.input-group-append .fa {
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  margin-left: 2px; /* Adjust spacing */
}



/* Style for the helper text */
.helper-text {
  position: absolute; /* Position absolutely relative to the parent */
  top: calc(100% + 5px); /* Position below the input */
  left: 0; /* Align with the left edge of the input group */
  font-size: 14px; /* Adjust font size */
  color: #999; /* Adjust color */
}
